<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/doSearch}" method="POST" th:object="${searchForm}">
		<input value="Access Token" name="accessToken" type="text" th:value="*{accessToken}">
		Access Token
		<br/>
		<input name="query" type="text" th:value="*{query}"> 
		
		Query
		<br/>
		<input
			name="type" type="text" th:value="*{type}"> 
			
		TYPE(Only "TRACK" is supported ATM)
			<br/>
			<input
			name="limit" type="text" th:value="*{limit}"> 
			
		Limit
			<br/>
			<input
			name="offSet" type="text" th:value="*{offSet}" value="Off Set"> 
			
		Off Set
			<br/>
		
			<input
			type="submit" value="Submit"></input>

	</form>
</body>
</html>